# Goose variables
# Use these if you want to run goose separately to manage your DB.
# Chirpy will try to migrate the DB to the correct version automaticaly.
# See: https://pkg.go.dev/github.com/pressly/goose/v3#readme-environment-variables
# GOOSE_DRIVER="postgres" # Uncomment if you want to use
#GOOSE_DBSTRING="postgres://<PostgreSQL username>:<PostgreSQL password>d@<PostgreSQL host>:<PostgreSQL port>/<Chirpy DB>"
#GOOSE_MIGRATION_DIR="sql/schema"

# Chirpy variables
DB_URL="postgres://<PostgreSQL username>:<PostgreSQL password>d@<PostgreSQL host>:<PostgreSQL port>/<Chirpy DB>?sslmode=disable"  # DB connection string that Chirpy should use.
#PLATFORM="dev" # Set this option to "dev" to enable developer mode. (boot.dev requirement)
#TOKEN_KEY=<Your Chirpy token key goes here, use this if you want access tokens to stay valid between server restarts or if you plan to run multiple server instances>
#POLKA_KEY="<Polka key>" # Issued in CH8, L4, only relevant if you're doing the tutorial